:root {
    --textColor: #303030;
    --bgColor: #fff;
}

body {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textColor);
    background-color: var(--bgColor);
}

#root,
.App {
    width: 100%;
}

header {
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

header .nav {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    margin-bottom: 1em;
}

header button.history{
    margin-right: 1em;
    font-size: 1em;
    padding: 0.2em 0.5em;
}

main {
    margin-bottom: 2em;
}

h1 {
    padding: 1px;
    font-style: italic;
    font-size: 40px;
    margin-bottom: 1em;
    text-align: center;
}

h2 {
    margin-bottom: 1em;
}

.btn {
    color: var(--textColor);
    background-color: var(--bgColor);
    border-color: var(--textColor);
}

a,
a:hover {
    
    color: var(--textColor);
}

.row {
    
    margin-bottom: 1em;
}


.contact-list-container {
    width: 1000px;
    padding: 1px;
    margin-bottom: 2em;
}


button.btn.btn-danger{
    color: #fff;
    background-color: rgb(160, 24, 24);
}

.contact-list-headings {
    
    font-weight: bold;
    margin-bottom: 0.5em;
}

.onclick-sort:hover {
    cursor: pointer;
}

.edit-contactinfo button {
    
    margin-right: 1em;
}

div.col.input.form-control{


    
    border-style: solid;
}
